<?xml version="1.0" encoding="UTF-8"?>

<!-- No grammar constraints (DTD or XML Schema) referenced in the document. -->
<!-- mapper DTD 선언 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  
  <!-- SQL Mapping -->
    <mapper namespace="com.mycompany.mapper.LoginMapper"> 
    	
    	<insert id="memreg">
	  		insert into member_table (id, password, name, birthday, phone, email, gender)
	  		values(#{id}, #{password}, #{name}, #{birthday},#{phone}, #{email}, #{gender});
  		</insert> 
    
    	<select id="login" resultType="com.mycompany.model.LoginVO">
    		select id, password
    		from member_table
    		where id=#{id} and password=#{password}
    	</select>
    
    
    	<update id="memberModify">
    		update member_table
    		set password = #{password},
    			name = #{name},
    			birthday = #{birthday},
    			phone = #{phone},
    			email = #{email},
    			gender = #{gender}
    			where id=#{id}
    		;
    	</update>
    	
    	<delete id="memberRemove">
    	 delete from member_table where id = #{id}
    	 ;
    	</delete>
    
    </mapper>
     